<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.magic.rain.com.firstcode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HelloWorldActivity"
            android:launchMode="singleInstance">
            <intent-filter>

                <!-- 自定义动作类型 -->
                <action android:name="ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="MY_CATEGORY" />
                <!-- <action android:name="android.intent.action.VIEW"/> -->
                <!-- <category android:name="android.intent.category.DEFAULT"/> -->
                <!-- <data android:scheme="http"/> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FirstActivity"
            android:label="@string/this_is_firstActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ThirdActivity" />
        <activity
            android:name=".activity.NewActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.singletask.SingleOneActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.singletask.SingleTwoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.singletask.SingleThreeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.uicustom.MainActivity" />
        <activity android:name=".activity.uicustom.Main2Activity" />
        <activity android:name=".activity.uicustom.RecyclerViewTestActivity" />
        <activity android:name=".activity.uicustom.RecyclerViewHorizontalActivity" />
        <activity android:name=".activity.uicustom.BeautifulActivity" />
        <activity android:name=".activity.uicustom.NewsContentActivity" />
        <activity android:name=".activity.uicustom.NewsMainActivity">

        </activity>
        <activity android:name=".activity.broadcast.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.broadcast.BroadCastPerfectActivity"/>
    </application>

</manifest>